body{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: orangered;
    padding:20px;
    padding-left: 5px;
    height:20px;
    justify-content: start;
    letter-spacing: 3px;
    color:white;
    flex-wrap: wrap;
    gap: 20px;
}
.panel1{
    display: inline-flex;
    padding:55px;
    flex-wrap: wrap;
    gap: 90px;
}
.panel{
    position:relative;
    margin: 5px;
    padding:10px;
    border-collapse: collapse;
    width:500px;
    height:auto;
    box-shadow: 0 0 10px #222;
    border-radius: 2px;
}
.title{
  padding:5px;
  font-size: larger;
  font-weight: bold;
}
.description{
  padding:5px;
  font-size: medium;
}
span{
  cursor: pointer;
}
.active,span:hover
{
  background-color: rgb(24, 11, 11);
  padding:6px;
}

select{
  height: 30px;
  width:150px;
}